<div class="group-header">
    <div class="header-logo">
        <img src="assets/images/logo.png" alt="Logo" width="50px" height="auto">
    </div>

    <div class="group-navigation">
      <!-- Sử dụng routerLink để điều hướng đến các trang khác ( nhớ 
       import routerLink trong file typescript để sử dụng ) -->
      <a routerLink="/create"  class="btn-navigation"><img src="assets/images/shopping-cart.png" alt="Shopping" width="20px" height="20px"> </a>
      <div class="btn-navigation"><img src="assets/images/store.png" alt="Shopping" width="20px" height="20px"> </div>
  </div>
</div>