<div class="wrapper-cart">
    <h1>Create Product</h1>

    <div 
    style="width: 70%; margin: auto; background: #fff; padding: 1rem; border-radius: 7px;
    "
    [formGroup]="products"
    >
        <div class="form-control">
            <label for="productName">Product Name</label>
            <div> <input type="text" id="name" formControlName="name"> </div> 
          <!-- Thêm các thuộc tính để validate form -->
            <div *ngIf="name?.dirty || name?.touched">
            <div style="color: red;" *ngIf="name?.hasError('required')">
                Name is required
            </div>
           </div>
        </div>
        
        <div class="form-control">
            <label for="productPrice">Product Price</label>
            <div> <input type="number" id="price" formControlName="price"> </div>
            <!-- Thêm các thuộc tính để validate form -->
            <div *ngIf="price?.dirty || price?.touched">
                <div style="color: red;" *ngIf="price?.hasError('required')">
                    Price is required
                </div>
            </div>
        </div> 
        
        <div class="form-control">
            <div class="btn-navigation" 
                 (click)="handleAddCart()" 
                 style="padding: 0.8rem; color: #fff; margin-top: .4rem;">
                 Add to cart
             </div>
         </div>
    </div> 
</div>
