/* You can add global styles to this file, and also import other style files */


.btn-navigation {
    background-image: linear-gradient(to right, #f486f8, #3a0ae4);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}
